<mat-card>
  <mat-card-title>
    <ion-icon name="mail"></ion-icon><span> Kontakt</span>
  </mat-card-title>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <p></p>
    <div style="text-align: center;">
      <p>Hej, jag heter Jonny Östberg och det är jag som äger och driver företaget. Jag har arbetat som elektriker sedan
        1988 i lite olika bolag. År 2014 valde jag att starta ett eget företag vilket jag tycker var ett bra val med
        tanke
        på mitt arbetssätt. Jag tycker om att vara med och hjälpa mina kunder i sina olika val med sina projekt och även
        föra en dialog med dom under arbetets gång.</p>
    </div>
  </mat-card-content>
</mat-card>
