<mat-card>
  <mat-card-title>
    <h1>
      <ion-icon name="mail"></ion-icon><span> Kontakt</span>
    </h1>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <!--
      flytta till home
    <p>Hej, jag heter Jonny Östberg och det är jag som äger och driver företaget. Jag har arbetat som elektriker sedan
      1988 i lite olika bolag. År 2014 valde jag att starta ett eget företag vilket jag tycker var ett bra val med
      tanke
      på mitt arbetssätt. Jag tycker om att vara med och hjälpa mina kunder i sina olika val med sina projekt och även
      föra en dialog med dom under arbetets gång.</p>
      -->

    <p>
      <ion-icon name="location-outline"></ion-icon>
      <span style="font-weight: bold;"> Adress:</span>
      Eltjänst Jonny Östberg
      AB, Jugasvägen 10, 81135, Sandviken
    </p>

    <p>
      <ion-icon name="call-outline"></ion-icon>
      <span style="font-weight: bold;"> Telefon:</span>
      070 378 64 30
    </p>

    <p>
      <ion-icon name="mail-outline"></ion-icon><span style="font-weight: bold;"> Email:</span>
      jonny@eltjanstsandviken.se
    </p>

    <p>
      <ion-icon name="briefcase-outline"></ion-icon> <span style="font-weight: bold;"> Org.nr:</span> 556977-5157
    </p>






  </mat-card-content>
</mat-card>
