<mat-card>
  <mat-card-title>
    <h1>
      <ion-icon name="mail"></ion-icon><span span class="underline-white button-text-wrapper">Kontakt</span>
    </h1>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    
    <p>
      <ion-icon name="location-outline"></ion-icon>
      <span style="font-weight: bold;"> Adress:</span>
      Eltjänst Jonny Östberg
      AB, Jugasvägen 10, 811 35 Sandviken
    </p>

    <p>
      <ion-icon name="call-outline"></ion-icon>
      <span style="font-weight: bold;"> Telefon:</span>
      070 378 64 30
    </p>

    <p>
      <ion-icon name="mail-outline"></ion-icon><span style="font-weight: bold;"> Email:</span>
      jonny@eltjanstsandviken.se
    </p>

    <p>
      <ion-icon name="briefcase-outline"></ion-icon> <span style="font-weight: bold;"> Org.nr:</span> 556977-5157
    </p>






  </mat-card-content>
</mat-card>
