<mat-card>
  <mat-card-title>
    <h1>
      <ion-icon name="bulb"></ion-icon><span> Affärsidé</span>
    </h1>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <p>Mitt företag ska förvalta arvet efter Eltjänst bröderna Björk AB:s goda ryckte om att vi har utfört tjänster åt
      våra kunder i över 45 år, och där jag medverkat i 20 år.</p>

    <p>Mina redan goda kundkontakter bygger på att jag alltid sätter kundens intressen först och att uträtta dessa
      tjänster inom rimlig tid och noggrant utfört.</p>

    <p>En fördel med att anlita mig som elentreprenör är att jag projekterar, offererar, beställer material, utför
      arbetet och gör faktura underlag. Det vill säga ett ansikte genom hela projektet.</p>

    <p>Flera av mina nuvarande kunder har meddelat att de kommer att fortsättningsvis anlita mig som egen företagare.
      Nya
      kunder är självklart också välkomna.</p>

    <p>Jag kommer att med förtroende lämna över min löpande bokföring och fakturering till Sanrev i Sandviken, det för
      att kunna lägga koncentration och energi på att hjälpa mina kunder och sköta mitt bolag på bästa sätt.</p>

    <p>Fortsättningsvis kommer jag även att hjälpa Nicklas hos Eltjänst bröderna Björk om han behöver en hjälpande hand,
      men jag kommer företrädesvis att ta hand om mina egna kunder.</p>

    <p>Jag har även en del kontakter i närliggande yrkesgrupper som jag brukar samarbeta med och kan rekommendera.</p>

    <p>Ni är alla varmt välkomna att kontakta mig.</p>

    <p>Jonny Östberg</p>
  </mat-card-content>
</mat-card>
