<mat-card>
  <mat-card-title>
    <h1>
      <ion-icon name="people"></ion-icon><span> GDPR-Policy</span>
    </h1>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <p>
      Enligt den nya lagen GDPR som gäller från 25/5 -18 så har vi på Eltjänst Jonny Östberg AB med org.nr: 556977-5157
      vidtagit åtgärder för att säkra våra kunduppgifter i våra register. Såsom namn, personnummer, adress,
      telefonnummer och tidigare fakturerade fakturor. Och dessa används för att underlätta vår kontakt och mitt arbete
      med er.
    </p>

    <p>Mina register med dessa uppgifter finns hos nedanstående.
    </p>

    <ul class="margin-left-3">
      <li>
        Visma eEkonomi, fakturaprogram över nätet.
      </li>
      <li>
        Skatteverket, för att registrera Rot-avdrag.
      </li>
      <li>
        foranmalan.nu, en webbtjänst för elnätsägare. Används vid registeringsändring i el-abonnemang.
      </li>
      <li>
        Ebeco, används vid registrering av golvvärmeanläggningar.
      </li>

      <li>
        Sanrev, min redovisningsbyrå som hjälper mig med bokföringen.
      </li>

      <li>
        Ett pappersregister jag har för att föra in arbetsordrar med egenkontroll tester och arbetstimmar samt
        bilersättningar, som underlag för fakturor.
      </li>

      <li>
        Ett pappersregister med uppgifter på Rotuppgifter ni själva fyllt i.
      </li>

      <li>
        Ett register i mitt mailkonto för att vi lättare ska kunna ha kontakt.
      </li>

      <li>
        I min telefon finns även en del namn, mailadresser, telefonnummer och foton på arbeten, dessa foton är ej knutna
        till er med adresser eller dylikt, utan helt anonyma.
      </li>
    </ul>
    <p></p>

    <p>
      Jag har även en dubbelspeglad server i mitt hem för att spara allt detta ifall jag får ett datahaveri.
    </p>

    <p>
      Mina Kontaktuppgifter som personuppgiftsansvarig
    </p>

    <p>
      Jonny Östberg
    </p>

    <p>
      Jugasvägen 10
    </p>

    <p>
      811 35 Sandviken, 070 378 64 30, jonny@eltjanstsandviken.se
    </p>

    <p>
      Och jag företräder Eltjänst Jonny Östberg AB på ovanstående adress.
    </p>

    <p>
      I beskrivningen av registren ovan framgår vad syftet med mina register är och vilka ni är registrerade i.
    </p>

    <p>
      Tidsgränsen som jag har för att spara uppgifterna är till jag inte har någon användning av dessa mer eller att ni
      vill återkalla ert samtycke till detta.
    </p>

    <p>
      Jag har pratat med mina samarbetspartners ovan som har mina/era uppgifter och de uppger också att de gjort
      åtgärder enligt den nya lagen GDPR.
    </p>

    <p>
      Jag har säkrat min dator/server med lösenord i min larmade företagslokal, även inloggningar på respektive webbsida
      ovan sker med godkänt lösenord. Min telefon är både Pinkodslåst och fingeravtryckslåst.
    </p>

    <p>
      Om ni inte önskar vara med i något av ovanstående register eller vill veta vilka uppgifter jag har sparat så är ni
      välkomna att kontakta mig för att åtgärda detta.
    </p>

    <p>
      Med vänliga hälsningar
    </p>

    <p>
      Jonny Östberg
    </p>
  </mat-card-content>
</mat-card>
