<mat-card>
  <mat-card-title >
    <h1>
      <ion-icon name="document"></ion-icon><span span class="underline-white button-text-wrapper">Rotblankett</span>
    </h1>
  </mat-card-title>
  <mat-card-content>
    <p></p>
    <p>Information angående rotavdrag finns till bland annat på skatteverkets hemsida, länk finns <span
        class="info-link" (click)="infoLinkClick()">här</span>.</p>
    <p>Tryck på knappen nedan för att öppna blankett för ROT-avtal mellan Eltjänst Jonny Östberg AB, godkänd för F-skatt
      och konsument.</p>
    <button color="accent" mat-raised-button (click)="pdfClick()">
      <ion-icon name="document"></ion-icon><span class="button-text-wrapper">Öppna Rotblankett</span>
    </button>
  </mat-card-content>
</mat-card>
