<mat-card>
  <mat-card-content>
    <div *ngIf="mobileQuery.matches; then mobile else browser"></div>
    <ng-template #browser>
      <mat-grid-list #grid [cols]="cols" rowHeight="20:11" style="margin-bottom: 2px;">
        <mat-grid-tile [colspan]="8" [rowspan]="8">
          <div>
            <img src='./../assets/banner1.jpg' style="width:100%;">
            <div class="center">
              <div class="transparent-container">
                <h1 style="color: white !important;">
                  <ion-icon name="home"></ion-icon><span class="button-text-wrapper">Välkommen till
                    Eltjänst Jonny Östberg AB</span>
                </h1>
                <mat-divider [inset]="true"></mat-divider>
                <p></p>
                <p style="color: white !important;">Hej, jag heter Jonny Östberg och det är jag som äger och
                  driver
                  företaget. Jag har arbetat som
                  elektriker sedan 1988 i lite olika bolag. År 2014 valde jag att starta ett eget företag vilket
                  jag
                  tycker var ett bra val med tanke på mitt arbetssätt. Jag tycker om att vara med och hjälpa mina
                  kunder
                  i
                  sina olika val med sina projekt och även föra en dialog med dom under arbetets gång.</p>
                <img src='./../assets/sigil_2023_cropped.png' style="width:50%; left:25%; position: relative;">
              </div>
            </div>
            <div class="center-right">
              <div class="transparent-container">
                <h1 style="color: white !important;">
                  <ion-icon name="logo-rss"></ion-icon><span class="button-text-wrapper">Nyhetsflöde</span>
                </h1>
                <mat-divider [inset]="true"></mat-divider>
                <p></p>
                <div class="iframe-fb-container">
                  <iframe class="iframe-fb-br" style="border-radius: 10px;"
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Feltjanstjonnyostbergab%2F&tabs=timeline&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=797033528313106"
                    style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
          <img class="image" src={{tile.imgSrc}}>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="4">
          <img src='./../assets/FIKK.png'>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="4">
          <img src='./../assets/aktivskola.png'>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
    <ng-template #mobile>
      <img src='./../assets/banner1_with_sigil.jpg' style="width:100%;">
      <div class="padding-3">
        <h1>
          <ion-icon name="home"></ion-icon><span span class="button-text-wrapper">Välkommen till
            Eltjänst Jonny Östberg AB</span>
        </h1>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <p>Hej, jag heter Jonny Östberg och det är jag som äger och driver företaget. Jag har arbetat som
          elektriker sedan 1988 i lite olika bolag. År 2014 valde jag att starta ett eget företag vilket jag
          tycker var ett bra val med tanke på mitt arbetssätt. Jag tycker om att vara med och hjälpa mina kunder i
          sina olika val med sina projekt och även föra en dialog med dom under arbetets gång.</p>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" matRipple [matRippleCentered]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-icon name="logo-rss"></ion-icon><span span class="button-text-wrapper mb-0">Nyhetsflöde</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="iframe-fb-container d-flex justify-content-center mb-3">
              <iframe class="iframe-fb-br" style="border-radius: 10px;"
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Feltjanstjonnyostbergab%2F&tabs=timeline&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=797033528313106"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <mat-grid-list cols="1" style="margin-bottom: 2px;">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1">
          <div style="width: auto; height: 100%;">
            <img style="margin-bottom: 2px;" class="image" src={{tile.imgSrc}}>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img src='./../assets/FIKK.png'>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img src='./../assets/aktivskola.png'>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
  </mat-card-content>
</mat-card>