.banner {
  background-image: url(./../../assets/banner1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.94;
}

.mat-card {
  border-radius: 0px;
  height: 100%;
  padding: 0px;
}

.image {
  height: 100%;
  width: auto;
}
